.atacksContainer {
  width: 250px;
  height: auto;
  margin-top: 1.25rem;
  text-align: left;
  backdrop-filter: blur(15px);
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  border: 0.125rem solid var(--black);
}

.atacksTitle {
  letter-spacing: 0.0625rem;
  font-size: 2.1875rem;
}

.atacksName {
  font-weight: 500;
  letter-spacing: 0.0625rem;
  font-size: 20px;
  text-transform: capitalize;
}
