.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 3.125rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.button {
  color: var(--white);
  background-color: var(--black);
  max-width: 100%;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.button:active {
  background-color: var(--red);
}
