@charset "UTF-8";
@import "attacksContent.css";
@import "buttonContent.css";
@import "cardContent.css";
@import "formContent.css";
@import "headerContent.css";
@import "spinnerContent.css";

:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ff0000;
  --gradient: #00000046;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 3.125rem;
  background: url("../img/pokemon-background.png");
  background-color: var(--gradient);
  background-blend-mode: color;
}

/* MOBILE */

@media (max-width: 720px) {
  body {
    padding: 1.25rem;
  }
}

/* MOBILE */
